
.splash-text-wrapper {
    position: absolute;
    margin-top: -30%;
    margin-left: 45%;
    width: 30%;
    text-align: center;
}

/* ------- Tiles -------- */

.tile img {
    width: 35vw;
    margin: 2vw;
}

.about-section {
    margin: 3vw 0;
    background-color: #e1e7f8db;
    display: flex;
}

.info-text {
    margin: auto 1.5vw;
    width: 60%;
}