header {
    text-align: center;
    margin-top: 3vw;
    margin-bottom: 6vw;
}

.content-wrapper {
    margin: 0 auto;
}

.card {
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: 30px auto;
}

.info {
    margin: auto 20px;
}

.body-text {
    margin-top: 10px;
    line-height: 150%;

}

.image {
    width: 60%;
}

.main-content-wrapper {
    padding: 20px;
}