.splash-text-wrapper {
    position: absolute;
    margin-top: -30%;
    margin-left: 45%;
    width: 30%;
    text-align: center;
}

.main-body-wrapper {
    padding: 20px;
    display: flex;
}

.donate-poster {
    width: 300%;
    margin-right: 20px;
}

.who-we-are {
    text-align: justify;
}
