header {
    display: flex;

}

header img {
    width: 60%;
}

header .text {
    margin: auto 25px;

}

header {
    margin-bottom: 40px;
}

.team {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.image {
    width: 300px;
}

.name {
    font-weight: 700;
}

.role {
    font-size: 90%;
}

.bio, .contact {
    font-weight: 200;
    width: 200px;
}

.contact {
    font-size: 80%;
}

.info-content {
    justify-content: center;
}

.name, .role, .bio, .contact {
    margin: 0 auto;
    text-align: center;
}

.main-content-wrapper {
    padding-bottom: 20px;
}